<header class="details-header">
  <section class="basic-info">
    <img [src]="details?.image?.thumb" [alt]="details?.name" class="icon-area">
    <div class="name-area">
      <h1 class="crypto-name">{{details?.name}}</h1>
      <span class="symbol">{{details?.symbol}}</span>
    </div>
    <div class="stats-area">
      <span class="symbol">#{{details?.market_cap_rank}}</span>
      <span class="symbol">{{details?.developer_data?.stars}} stars</span>
    </div>
  </section>
  <section>
    B
  </section>
  <section>
    C
  </section>
</header>
