:host {
  mat-card {
    display: grid;
    grid-template-columns: 1fr 20% 15% 1fr 10% 10%;
    overflow: scroll;
    margin: 2px;

    span {
      margin: 0 8px;
      padding: 0 4px;
      overflow: hidden;
      text-overflow: ellipsis;

      img {
        width: 1rem;
        vertical-align: middle;
      }
    }

    .detail-icon {
      justify-self: end;
    }

    .daily-change {
      white-space: nowrap;
    }
  }

  mat-icon {
    &.price-up {
      transform: rotate(-90deg);
      color: #019901;
    }

    &.price-down {
      transform: rotate(90deg);
      color: #f84b4b;
    }
  }
}

@media screen and (max-width: 760px) {
  .crypto-name {
    display: none;
  }
}
